*{
    background-color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: rgb(135, 168, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
}


h2{
    color: rgb(155, 255, 141);
    text-align: left;
}

h3{
    color: rgb(156, 157, 250);
    text-align: left;
}

h4{
    color: rgb(255, 172, 211);
    text-align: center;
}