h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(155, 255, 141);
    text-align: center;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(156, 157, 250);
    text-align: left;
}