
body{
    background-color: #000000;
}



/*--------------------------------------------------*/
.titulo img{
    margin-top: 3%;
    margin-left: 5px;
    height: 80px;
}



/*--------------------------------------------------*/



/*--------------------------------------------------*/
.cabecera, .subtemas, .pagcontenidos, .redes{
    border: 2px solid #00000000;
    margin: 1rem;
    border-radius: 2rem;

} 




/*--------------------------------------------------*/
.pagcontenidos, .subtemas{
    display: inline-flex;
}





/*--------------------------------------------------*/
.cabecera{
    background-color: #000000;
    height: 5rem;
    color: aliceblue;
}




/*--------------------------------------------------*/
.subtemas{
    background-color: #fff9e7;
    color: rgb(0, 0, 0);
    width: 15%;
    height: 30rem;
}




/*--------------------------------------------------*/
.pagcontenidos{
    background-color: #afbeb9;
    color: #000000;
    width: 70%;
    height: 30rem;
}




/*--------------------------------------------------*/
.redes{
    color: white;
    background-color: #000000;
    text-align: center;
}

